sudo: required
services:
- docker

script:
- make container

before_deploy:
- docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS

deploy:
  # push taged container to docker hub
  - provider: script
    script: make push
    on:
      branch: master
      tags: true
env:
  global:
  - secure: hs8m9KkJ+sBwQr4FF/ZGFDpK25n4K3q6R/KU0q++m27G0D2XtO+JeTQnRi8cV/8JGcYClBUIqkIXoKxpohuZ+LrTUGtPL/KUjsMshV59PTqvCrlkCmUfMrM0DowwVW1O7g2T+gPsr0rj++FUxTtk0s12sHZdxTDFrNTtdFD6Et6BXO6UIlDy2PhhLXNf7kxa7OpWPOWXosU6bBuj4NjaGXpYSWIJPnxMbmfGcmOpudPeRJGJsqDmHy3YKZ8IDWKOsDNOKmltOAzG3qhQP2DhHfjC4Tpmou3AOD2SdI5ekwPvQpa4cWo7LOw6l6PYtz7MhfchnQR5+KXvTu+JvGt3LDJeuE8PmFzefOxO2fUoEjNGFa3hRxGzJ4UyzxyXrqwPH4XBm4x1sqVFqMEwkY3AsuACGk4+1CSVkXORtE4GrhLBi52cJ7EI0Qq02+WjSKGppRg1OjIX0ZRG/mGOnt/qqHLSfxmRJGPIgtIALtsTbbHZwQN67se08p1+4JHgQ6G4tEV27Kmsu6tz2oAJrOuPrhCNltRFPhYw3A4U4jIO9ziMJHSMLtsHu48cOTtw2tVNW4mss6wadqpL4akX7uEiFoBrf0YFQ1cpImtpjRcAV8izBFiLYYLnQrnXUAPDFIEPEgyax8JATWVCS1qnfbdB3++6CUEMceTpBpY7dQVimKY=
  - secure: e7Xc9PjnGZXrUlcQoNo9mBGcVHJlA6SoJHia7ElRtVaFDNycIxlbP44NGLv/aLdEpTKqdiuT6rHItNmwjYwy0GB78KgMnC1WQ80B3usemxDWBJ1r5q+Yhgk6mSiqMUpG8CHimnqvBU8wKuBVAh8pdKk2lMpt9Z9kjXi3InOQE9CPKQ/gtFLk6xa81/YaFtcIyMbAS/xFBOLBdB4I4XduJsjoaywpinVejx8z6s5GoNdDGe7yVRHggMGtR7g3ObbdVLOykGkwwnu/uPZvTSuD7sO+czJujyzPSEG4XoXADu4ceDC+H12bWEV81tc57ua1nVgvgu0LndIYaGv6rrb4jBfTEW1cbnym1gb4NFiFaFA04fcOlZktXo4Oh/PKQ3jawJnSKDJLjqeKefhNHG4t4olPytGS6Hdi5w1qnL+3Gp0OCQKs6p9G1FIhu9JaeWzOFwA0D67nx79AMtug8dUQ//GQAdtmCvp/FE42sOqAmRzyLVmjsNvM9MGZLi3mVt6chWnevWV/g8qym7/UGQbEXCXtztWLmtD12q2EbouzGUlVJWdWPRdabTFFTiS2gv3A18PASBsbMGdJjxSdAU+C9oobF7eiYG8Yeu/gvWQYcNsMjm5mpEX1fc5ZRk9tYsVow51ZqeSGOr4gr4s4UVPtg5zTJndd/L4KQ+3UN0yDV4g=
  - secure: eGI6porT74KMcar09zF6UQNpeQ28/2zrVRuxRV0jjQ2+gAlJrbZjROZg8vZ9jKimWoks8MAGdo1y7s99pGVJ8yOT+yHX2C3ZOStFdLWTXVxeEZrsg0xd11qKB7/RmlLt0/Nsy1lvA/UM7h4ydAhIXO7jxSxltHyyUaW8SrUGpku6prpUJGQVAuJgK6MdBSw+H5kjk9FLyQxTs54h+GQBoFtTucmf+DLdSkahH6+La7zHYitNr/Q++ghIbzvwuHzJ24ZCKJfY3mlwIymcoGtflULwuClJnkp0I07rht2mgrx9/SXzOfstBcT85OSsSOAUzv0RjTx34WxaanfD/cgk1jr51+jAXbHq7mpcFpc7MxX+uS3r+LpSksJe6MTcvJB03zUkHm0Y8qsg1GnmDeyY61CBTKi0QIR5+RrwBGQKBzuUFvq90fhBFTBOGEmxRMx7IQNT+o3OcugaAirfYSIfd1aFcBUZml/KxVTTTjGooyHaqYlDH1TuZ489/4H3H2VL/Waf+QcB5e+c7VYvl7o/8ZpHxmRon0dlUxeS2yqowex1lB9ZvXaXUcUf9DZXsMB9Iym1HR1enwyDxXlgs9H72eksLX08mY703l2sujQrzZnQg3p1w11lK7aDaYqX/HguSakkiwziwoCTzfphVxrjQyYZbgPkPMWnUazf5Im1jmM=
